.main {
  background-color : "Pink" 
}

.Card {
  width: 25%;
 margin: 16px auto;
 border: 1px solid #aa7f7f;
 box-shadow: 0 2px 3px #a33f3f;
 padding: 16px;
 text-align: center;
}

.btnstyle {
 background: white;
 font: inherit;
 border: 2px solid blue;
 padding: 8px;
 cursor: pointer;
}
